body h1 {
    color: #FC7206;
    font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
.key {
    color: #EFF0F0;
    background-color: #2738EA;
    font-size: 20px;
}
body p img {
    border-width: 10px;
    border-style: dotted;
}
body {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(3F06BC42-D93E-4F49-97E7-B22683FEFF0C_1_102_o.jpeg);
}
