@charset "UTF-8";
body h1 {
}
body h1 {
    font-family: "Lucida Console", Monaco, monospace;
}
ul li a {
    line-height: 50px;
}
body {
    background-image: url(IMG_3128.jpeg);
	background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
